*{
    box-sizing: border-box;
}
.right-heading{
    text-align: center;
    background-color: #f1f2f6;
    margin: 30px auto 10px;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid teal;
}
.bookmarked-blogs{
    text-align: center;
    background-color: #f1f2f6;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgba(0, 128, 128, 0.25);
}
.blog-names{
    padding: 5px;
    background-color: white;
    border-radius: 10px;
}
.body-component{
    margin: 50px 60px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
}
@media (max-width: 576px) {
    .body-component{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
    }
}